body{
    background-color: #2ecd20!important;

}


.links{
            outline: none!important;
            background: none;
            border: none;
            color: rgb(228, 228, 228);
        }

        .links:hover {
            color: white;
        }

        .textcontent{
            color: white;
            font-size: 3rem;
            width: 30%;
            margin-left: 13.5%;
            margin-top: 75px;
        }

        .frstbtons{
            margin-left: 13.5%;
            margin-top: 40px;
            width: 40%;
            justify-content: space-around;
        }

        #bttons{
            outline: none!important;
        }

        #btton{
            outline: none!important;
        }


        #btton:hover{
            background-color:  white;
        }

        .second{
          height: 70%
        }

        #icons{
            text-align: center;
        }

        #last{
            text-align: center;
        }

        #contact{
            padding: 3% 6%;
        }

        .effect{
            color: #91db3b;
        }

        .effect:hover{
            box-shadow: 1.5px 1.5px 10px rgb(78,72,72);
            transform: rotate(25deg)!important;
        }

        .slider{
          margin-top: ;
          /* background-color: red; */
          height: 300px;
          /* margin-top: 300px; */
          overflow: hidden;
        }
        .logos{
          margin: 3% 15%;
          height: auto;
          padding: 4% 8%;
          /*display: inline;*/
          
        }

        .logoz{
        width:  20%;
        height: auto;
        padding: 10px 10px 10px 10px;
        margin: 0 2%;
        }
        

        .img{
          width: 225px; height: 400px;
          transform: rotate(15deg);
          position: absolute;
          z-index: -1;
          left: 65%;
          top: 40%;
          border-radius: 15px;
          box-shadow: 4px 4px 10px rgb(31, 29, 29);
          overflow: hidden;
        }


        @media screen and (max-width:1015px) and (min-width: 992px) {
        .img{
            top: 48%;
            }

        }

        @media screen and (max-width:992px) and (min-width: 768px) {
        .img{
            width: 150px;
            height: 300px;
            top: 55%;
            }

        .textcontent{
        font-size: 2.2rem;
        }

        #bttons{
            font-size: 1rem;
        }

        #btton{
            font-size: 1rem;
        }

        #spl{
            padding-bottom: 23.5px;
        }
        }

        @media screen and (max-width: 768px) and (min-width:683px ){
            .img{
            width: 150px;
            height: 300px;
            top: 55%;
            }

             .textcontent{
        font-size: 2rem;
        }

        #bttons{
            font-size: 0.7rem;
            margin-right: 1%;
        }

        #btton{
            font-size: 0.7rem;
            margin-left: 1%;
        }

        .list{
            font-size: 0.5rem;
        }
        }

        @media screen and (max-width: 682px) and (min-width:616px ){
            .img{
            width: 150px;
            height: 300px;
            top: 62%;
            }

             .textcontent{
        font-size: 2rem;
        }

        #bttons{
            font-size: 0.7rem;
            margin-right: 1%;
        }

        #btton{
            font-size: 0.7rem;
            margin-left: 1%;
        }

        .list{
            font-size: 0.5rem;
        }

        #pricing{
            width: 100%;
        }
        }


        
















        /